smevAdapterUszn/src/main/java/smev/ElementServices/ZagsDeath/zags-fatalinf-ru-root.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by lic@gnivc.ru (AO GNIVC) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://x-artefacts-zags-fatalinf/root/112-52/4.0.1" xmlns:fnst="urn://x-artefacts-zags-fatalinf/types/4.0.1" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:ns1="urn://x-artefacts-zags-fatalinf/root/112-52/4.0.1" targetNamespace="urn://x-artefacts-zags-fatalinf/root/112-52/4.0.1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="urn://x-artefacts-zags-fatalinf/types/4.0.1" schemaLocation="zags-fatalinf-types.xsd"/>
	<xs:element name="FATALINFRequest">
		<xs:annotation>
			<!---************************************************************************************************************************************************************-->
			<xs:appinfo>
				<sch:pattern name="Проверка присутствия (отсутствия) элемента МуниципРайон в зависимости от значения элемента Регион">
					<sch:rule context="*[local-name()='АдрМО']">
						<sch:assert test="usch:iif(*[local-name()='Регион']!=99, count(*[local-name()='МуниципРайон'])!=0, count(*[local-name()='МуниципРайон'])!=0 or count(*[local-name()='МуниципРайон'])=0)">
							<usch:error code="0400300003" path="count(МуниципРайон)" value-of-select="*[local-name()='Регион']">Не выполнено условие присутствия (отсутствия) элемента МуниципРайон при значении элемента Регион, равном "<usch:value-of select="*[local-name()='Регион']"/>" </usch:error>
						</sch:assert>
					</sch:rule>
				</sch:pattern>
			</xs:appinfo>
			<!---*************************************************************************************************************************************************************-->
			<xs:documentation>Запрос на предоставление сведений об актах гражданского состояния о смерти, содержащихся в Едином государственном реестре записей актов гражданского состояния</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="СведОсн">
					<xs:annotation>
						<xs:documentation>Сведения о нормативно-правовых основаниях запрашивающей стороны для получения сведений из ЕГР ЗАГС об актах гражданского состояния о смерти</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice>
							<xs:element name="СведДокОсн" type="fnst:string-500">
								<xs:annotation>
									<xs:documentation>Сведения об организационно-распорядительном документе, подтверждающем основания для запроса сведений из ЕГР ЗАГС</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ПрСведДокОсн">
								<xs:annotation>
									<xs:documentation>Признак отсутствия сведений об организационно-распорядительном документе, подтверждающем основания для запроса сведений из ЕГР ЗАГС</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="fnst:string-1">
										<xs:enumeration value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:choice>
						<xs:attribute name="КодНормОсн" type="fnst:string-2" use="required">
							<xs:annotation>
								<xs:documentation>Код нормативно-правового основания для получения сведений из ЕГР ЗАГС по справочнику СНПОСН</xs:documentation>
								<xs:documentation>Принимает значение по справочнику нормативно-правового основания для получения сведений из ЕГР ЗАГС (СНПОСН)</xs:documentation>
								<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
								<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">СНПОСН</xs:appinfo>
								<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Код основания для запроса сведений</xs:appinfo>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="СведЗапрос" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Сведения, содержащиеся в запросе</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СведАГС" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Сведения о государственной регистрации АГС о смерти, в отношении которого сформирован запрос</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:choice>
											<xs:element name="ДатаЗаписДок" type="fnst:ДатаДокТип">
												<xs:annotation>
													<xs:documentation>Дата регистрации записи по представленным документам (неполная дата)</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ДатаЗапис" type="xs:date">
												<xs:annotation>
													<xs:documentation>Дата составления актовой записи  гражданского состояния (календарная дата)</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
										<xs:element name="ОрганЗАГС" type="fnst:ОрганЗАГСНТип">
											<xs:annotation>
												<xs:documentation>Сведения об органе ЗАГС, которым произведена государственная регистрация акта гражданского состояния</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="НомерЗапис" type="fnst:string-22" use="required">
										<xs:annotation>
											<xs:documentation>Номер актовой записи гражданского состояния</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="СведФЛ">
								<xs:annotation>
									<xs:documentation>Сведения о физическом лице, в отношении которого сформирован запрос</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ФИО" type="fnst:ФИОПрТип">
											<xs:annotation>
												<xs:documentation>Фамилия, имя, отчество</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:choice>
											<xs:element name="ПрДатаРожд">
												<xs:annotation>
													<xs:documentation>Признак отсутствия сведений о дате рождения</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="fnst:string-1">
														<xs:enumeration value="1"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ДатаРождКаленд" type="xs:date">
												<xs:annotation>
													<xs:documentation>Дата рождения (календарная дата)</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ДатаРождДок" type="fnst:ДатаДокТип">
												<xs:annotation>
													<xs:documentation>Дата рождения по представленным документам</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
										<xs:element name="УдЛичнФЛ" type="fnst:УдЛичнФЛСНТип" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="СНИЛС" type="fnst:СНИЛСТип" use="optional">
										<xs:annotation>
											<xs:documentation>СНИЛС</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:choice>
								<xs:element name="ПрРегионРегАГС">
									<xs:annotation>
										<xs:documentation>Признак отсутствия сведений о субъекте Российской Федерации, где зарегистрирован акт гражданского состояния</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="fnst:string-1">
											<xs:enumeration value="1"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="РегионРегАГС" type="fnst:ССРФТип">
									<xs:annotation>
										<xs:documentation>Субъект Российской Федерации, где зарегистрирован акт гражданского состояния</xs:documentation>
										<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
										<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">ССРФ</xs:appinfo>
										<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Код субъекта Российской Федерации</xs:appinfo>
									</xs:annotation>
								</xs:element>
							</xs:choice>
						</xs:sequence>
						<xs:attribute name="ИдДок" type="fnst:string-36" use="required">
							<xs:annotation>
								<xs:documentation>Идентификатор документа</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдЗапрос" type="fnst:ИдЗапросТип" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор запроса, сформированный запрашивающей стороной</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="КолДок" type="fnst:number-2" use="required"/>
			<xs:attribute name="ТипАГС" use="required">
				<xs:annotation>
					<xs:documentation>Тип акта гражданского состояния, в отношении которого сформирован запрос</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="fnst:string-2">
						<xs:enumeration value="07"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="FATALINFResponse">
		<xs:annotation>
			<xs:documentation>Ответ на запрос, сформированный участником взаимодействия СМЭВ на предоставление сведений об актах гражданского состояния о смерти, содержащихся в Едином государственном реестре записей актов гражданского состояния</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="СведОтветАГС" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Сведения ответа на запрос о государственной регистрации АГС о смерти</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СведРегСмерт" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Сведения о государственной регистрации смерти</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:choice>
											<xs:element name="ДатаЗаписДок" type="fnst:ДатаДокТип">
												<xs:annotation>
													<xs:documentation>Дата составления актовой записи о смерти по представленным документам (неполная дата)</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ДатаЗапис" type="xs:date">
												<xs:annotation>
													<xs:documentation>Дата составления актовой  записи о смерти</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
										<xs:element name="ОрганЗАГС" type="fnst:ОрганЗАГСТип">
											<xs:annotation>
												<xs:documentation>Сведения об органе ЗАГС, которым произведена государственная регистрация смерти</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="СвидетСмерт" type="fnst:СведСвидетТип" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Сведения о выданном Свидетельстве о смерти</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ПрдСведРег">
											<xs:annotation>
												<xs:documentation>Передаваемые сведения о государственной регистрации смерти</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:choice>
														<xs:element name="ПрПол">
															<xs:annotation>
																<xs:documentation>Признак отсутствия сведений о половой принадлежности умершего</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="fnst:string-1">
																	<xs:enumeration value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="Пол">
															<xs:annotation>
																<xs:documentation>Пол</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="fnst:string-1">
																	<xs:enumeration value="1"/>
																	<xs:enumeration value="2"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:choice>
													<xs:choice>
														<xs:element name="ПрГражданство">
															<xs:annotation>
																<xs:documentation>Признак отсутствия сведений о гражданстве</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="fnst:string-1">
																	<xs:enumeration value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ГраждТекст" type="fnst:string-255">
															<xs:annotation>
																<xs:documentation>Наименование страны гражданства (Не справочное значение)</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="ГраждОКСМ" type="fnst:ОКСМТип">
															<xs:annotation>
																<xs:documentation>Код страны гражданства (по Справочнику ОКСМ)</xs:documentation>
																<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
																<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">ОКСМ</xs:appinfo>
																<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Цифровой код</xs:appinfo>
															</xs:annotation>
														</xs:element>
													</xs:choice>
													<xs:element name="ФИОУмер" type="fnst:ФИОПрТип">
														<xs:annotation>
															<xs:documentation>Фамилия, имя, отчество умершего</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:choice>
														<xs:element name="ПрМестоРожден">
															<xs:annotation>
																<xs:documentation>Признак отсутствия сведений о месте рождения умершего</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="fnst:string-1">
																	<xs:enumeration value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="МестоРожден" type="fnst:МестоТип">
															<xs:annotation>
																<xs:documentation>Место рождения</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:choice>
													<xs:choice>
														<xs:element name="ПрДатаРожд">
															<xs:annotation>
																<xs:documentation>Признак отсутствия сведений о дате рождения умершего</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="fnst:string-1">
																	<xs:enumeration value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ДатаРождКаленд" type="xs:date">
															<xs:annotation>
																<xs:documentation>Дата рождения (календарная дата)</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="ДатаРождДок" type="fnst:ДатаДокТип">
															<xs:annotation>
																<xs:documentation>Дата рождения по представленным документам</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:choice>
													<xs:choice>
														<xs:element name="ПрУдЛичнФЛ">
															<xs:annotation>
																<xs:documentation>Признак отсутствия сведений о документе, удостоверяющем личность</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="fnst:string-1">
																	<xs:enumeration value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="УдЛичнФЛ" type="fnst:УдЛичнФЛПрТип">
															<xs:annotation>
																<xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:choice>
													<xs:choice>
														<xs:element name="ПрМЖПосл">
															<xs:annotation>
																<xs:documentation>Признак отсутствия сведений о последнем месте жительства умершего</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="fnst:string-1">
																	<xs:enumeration value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="МЖПосл" type="fnst:АдрМЖТип">
															<xs:annotation>
																<!---************************************************************************************************************************************************************-->
																<xs:appinfo>
																	<sch:pattern name="Проверка присутствия (отсутствия) элемента МуниципРайон в зависимости от значения элемента Регион">
																		<sch:rule context="*[local-name()='АдрМО']">
																			<sch:assert test="usch:iif(*[local-name()='Регион']!=99, count(*[local-name()='МуниципРайон'])!=0, count(*[local-name()='МуниципРайон'])!=0 or count(*[local-name()='МуниципРайон'])=0)">
																				<usch:error code="0400300003" path="count(МуниципРайон)" value-of-select="Регион">Не выполнено условие присутствия (отсутствия) элемента МуниципРайон при значении элемента Регион, равном "<usch:value-of select="Регион"/>" </usch:error>
																			</sch:assert>
																		</sch:rule>
																	</sch:pattern>
																</xs:appinfo>
																<!---*************************************************************************************************************************************************************-->
																<xs:documentation>Последнее место жительства умершего</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:choice>
													<xs:choice>
														<xs:element name="ПрДатаСмерт">
															<xs:annotation>
																<xs:documentation>Признак отсутствия сведений о дате смерти умершего</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="fnst:string-1">
																	<xs:enumeration value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ДатаСмертКаленд" type="xs:date">
															<xs:annotation>
																<xs:documentation>Дата смерти (календарная дата)</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="ДатаСмертДок" type="fnst:ДатаДокТип">
															<xs:annotation>
																<xs:documentation>Дата смерти по представленным документам</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:choice>
													<xs:choice>
														<xs:element name="ПрВремяСмерт">
															<xs:annotation>
																<xs:documentation>Признак отсутствия сведений о времени смерти умершего</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="fnst:string-1">
																	<xs:enumeration value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ВремяСмерт" type="xs:time">
															<xs:annotation>
																<xs:documentation>Время смерти</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:choice>
													<xs:choice>
														<xs:element name="ПрМестоСмерт">
															<xs:annotation>
																<xs:documentation>Признак отсутствия сведений о месте смерти умершего</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="fnst:string-1">
																	<xs:enumeration value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="МестоСмерт" type="fnst:МестоТип">
															<xs:annotation>
																<xs:documentation>Место смерти</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:choice>
													<xs:choice>
														<xs:element name="ПрСведПричСмерт">
															<xs:annotation>
																<xs:documentation>Признак отсутствия сведений о причинах смерти гражданина</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="fnst:string-1">
																	<xs:enumeration value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="СведПричСмерт" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>Сведения о причинах смерти</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:choice>
																	<xs:element name="СвПричСмертМКБ">
																		<xs:annotation>
																			<xs:documentation>Сведения о причине смерти в соответствии со справочником МКБ-10</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:attribute name="ПричСмертМКБ" type="fnst:string-500" use="required">
																				<xs:annotation>
																					<xs:documentation>Наименование причины смерти по справочнику МКБ-10</xs:documentation>
																					<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">https://nsi.rosminzdrav.ru/#!/refbook/1.2.643.5.1.13.13.11.1005</xs:appinfo>
																					<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">МКБ10</xs:appinfo>
																				</xs:annotation>
																			</xs:attribute>
																			<xs:attribute name="КодПричСмертМКБ" type="fnst:string-20" use="required">
																				<xs:annotation>
																					<xs:documentation>Код причины смерти по справочнику МКБ-10</xs:documentation>
																					<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">https://nsi.rosminzdrav.ru/#!/refbook/1.2.643.5.1.13.13.11.1005</xs:appinfo>
																					<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">МКБ10</xs:appinfo>
																				</xs:annotation>
																			</xs:attribute>
																		</xs:complexType>
																	</xs:element>
																	<xs:element name="СвПричСмертПроизв">
																		<xs:annotation>
																			<xs:documentation>Сведения о причине смерти (не справочные значения)</xs:documentation>
																		</xs:annotation>
																		<xs:complexType>
																			<xs:choice>
																				<xs:element name="ПрКодПричСмертПроизв">
																					<xs:annotation>
																						<xs:documentation>Признак отсутствия кода причины смерти</xs:documentation>
																					</xs:annotation>
																					<xs:simpleType>
																						<xs:restriction base="fnst:string-1">
																							<xs:enumeration value="1"/>
																						</xs:restriction>
																					</xs:simpleType>
																				</xs:element>
																				<xs:element name="КодПричСмертПроизв" type="fnst:string-20">
																					<xs:annotation>
																						<xs:documentation>Код причины смерти (не по справочнику)</xs:documentation>
																					</xs:annotation>
																				</xs:element>
																			</xs:choice>
																			<xs:attribute name="ПричСмертПроизв" type="fnst:string-500" use="required">
																				<xs:annotation>
																					<xs:documentation>Наименование причины смерти (не по справочнику)</xs:documentation>
																				</xs:annotation>
																			</xs:attribute>
																		</xs:complexType>
																	</xs:element>
																</xs:choice>
																<xs:attribute name="ТипПричСмерт" use="required">
																	<xs:annotation>
																		<xs:documentation>Тип заболевания или обстоятельства, послужившего причиной смерти</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="fnst:string-2">
																			<xs:enumeration value="01"/>
																			<xs:enumeration value="02"/>
																			<xs:enumeration value="03"/>
																			<xs:enumeration value="04"/>
																			<xs:enumeration value="05"/>
																			<xs:enumeration value="11"/>
																			<xs:enumeration value="12"/>
																			<xs:enumeration value="13"/>
																			<xs:enumeration value="14"/>
																			<xs:enumeration value="15"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:attribute>
															</xs:complexType>
														</xs:element>
													</xs:choice>
												</xs:sequence>
												<xs:attribute name="ПрНеустанЛицо" use="optional">
													<xs:annotation>
														<xs:documentation>Признак умершего лица, личность которого не установлена</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="fnst:string-1">
															<xs:enumeration value="1"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="СНИЛС" type="fnst:СНИЛСТип">
													<xs:annotation>
														<xs:documentation>СНИЛС умершего</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СВедЕГРРазд2" type="fnst:СведЕГРРазд2Тип" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о внесении в ЕГР ЗАГС сведений о документе компетентного органа иностранного государства (Раздел 2)</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="РазделЕГР" use="required">
										<xs:annotation>
											<xs:documentation>Раздел ЕГР ЗАГС, в котором содержатся сведения о регистрации акта гражданского состояния</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="fnst:string-1">
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="НомерЗаписЕГР" type="fnst:string-21" use="required">
										<xs:annotation>
											<xs:documentation>Номер актовой записи о смерти, содержащийся в ЕГР ЗАГС</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="НомАГССвид" type="fnst:string-10">
										<xs:annotation>
											<xs:documentation>Номер актовой записи, указанный в свидетельстве о смерти</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="НомерВерс" type="fnst:string-1_3" use="required">
										<xs:annotation>
											<xs:documentation>Номер версии записи</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ДатаВерс" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation>Дата версии записи</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="КодСостСтат" type="fnst:string-4" use="required">
										<xs:annotation>
											<xs:documentation>Код состояния и статуса записи акта о смерти по справочнику СОСТАГС</xs:documentation>
											<xs:documentation>Принимает значение кода по Справочнику состояния и статуса записи акта гражданского состояния (СОСТАГС)</xs:documentation>
											<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
											<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">СОСТАГС</xs:appinfo>
											<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Код состояния и статуса АГС</xs:appinfo>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ИдДок" type="fnst:string-36" use="required">
							<xs:annotation>
								<xs:documentation>Идентификатор документа</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="РезОбраб" use="required">
							<xs:annotation>
								<xs:documentation>Результат обработки поступившего запроса</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="fnst:string-1">
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
									<xs:enumeration value="3"/>
									<xs:enumeration value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдЗапрос" type="fnst:ИдЗапросТип" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор запроса, сформированный запрашивающей стороной</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ДатаСвед" type="xs:date" use="required">
				<xs:annotation>
					<xs:documentation>Дата, на которую сформированы сведения по поступившему запросу</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="КолДок" type="fnst:number-2" use="required">
				<xs:annotation>
					<xs:documentation>Количество документов в представленном файле запроса</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ТипАГСЗапрос" use="required">
				<xs:annotation>
					<xs:documentation>Тип акта гражданского состояния, в отношении которого сформирован запрос</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="fnst:string-2">
						<xs:enumeration value="07"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
