smevAdapterUszn/src/main/java/smev/ElementServices/GisJKH/dom-gosuslugi-ru-smev3-debt-requests.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:dom.gosuslugi.ru/debt-requests/1.0.0" xmlns:common="urn:dom.gosuslugi.ru/common/1.2.0" targetNamespace="urn:dom.gosuslugi.ru/debt-requests/1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="urn:dom.gosuslugi.ru/common/1.2.0" schemaLocation="dom-gosuslugi-ru-smev3-common.xsd"/>
	<xs:element name="ImportDebtRequestsRequest">
		<xs:annotation>
			<xs:documentation>Корневой элемент запроса импорта в ГИС ЖКХ запроса о наличии задолженности за ЖКУ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:BaseRequestType">
					<xs:sequence>
						<xs:element name="action" maxOccurs="50">
							<xs:annotation>
								<xs:documentation>Операция над запросом о наличии задолженности за ЖКУ</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="transport-id" type="common:UUID">
										<xs:annotation>
											<xs:documentation>Транспортный идентификатор</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="request-id" type="common:UUID" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
                                    Идентификатор запроса о наличии задолженности за ЖКУ. Обязателен для операции Revoke.
                                    Для операции Send указывается в том случае, если поставщикам ЖКУ направляется уже существующий в ГИС ЖКХ запрос
                                </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="action-type" type="tns:ActionType">
										<xs:annotation>
											<xs:documentation>
                                    Тип операции над запросом о наличии задолженности за ЖКУ. Допустимые значения:
                                    SEND - Направить запрос поставщикам ЖКУ;
                                    REVOKE - Отозвать запрос, ранее направленный поставщикам ЖКУ.
                                    Для операции Send должен быть указан хотя бы один из элементов request-id или request-data.
                                </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="request-data" type="tns:ImportDebtRequestType" minOccurs="0">
										<xs:annotation>
											<xs:documentation>
                                    Данные запроса о наличии задолженности за ЖКУ. Указывается только для операции SEND.
                                    Если операция связана с уже существующим в ГИС ЖКХ запросом (указан элемент request-id), то контент элемента используется для изменения запроса перед его направлением поставщикам ЖКУ. В противном случае, контент элемента используется для создания в ГИС ЖКХ нового запроса, который направляется поставщикам ЖКУ
                                </xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
		<xs:key name="TransportIDKey">
			<xs:annotation>
				<xs:documentation>Проверка уникальности транспортного идентификатора в рамках запроса</xs:documentation>
			</xs:annotation>
			<xs:selector xpath=".//tns:transport-id"/>
			<xs:field xpath="."/>
		</xs:key>
		<xs:key name="RequestIDKey">
			<xs:annotation>
				<xs:documentation>Проверка уникальности подзапроса о наличии задолженности в рамках importDRsRequest</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="tns:action/tns:request-id"/>
			<xs:field xpath="."/>
		</xs:key>
	</xs:element>
	<xs:element name="ImportDebtRequestsResponse">
		<xs:annotation>
			<xs:documentation>Корневой элемент ответа</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="common:ImportResultType"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ImportDebtRequestType">
		<xs:annotation>
			<xs:documentation>Данные запроса о наличии задолженности за ЖКУ для импорта в ГИС ЖКХ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="applicant-info" type="tns:ApplicantInfoType">
				<xs:annotation>
					<xs:documentation>Информация о заявителе</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="housing-fund-object" type="tns:HousingFundObjectInfoType">
				<xs:annotation>
					<xs:documentation>Сведения об объекте жилищного фонда (ОЖФ), по которому осуществляется запрос</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="executor-id" type="common:UUID">
				<xs:annotation>
					<xs:documentation>Идентификатор сотрудника, сформировавшего запрос</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApplicantInfoType">
		<xs:annotation>
			<xs:documentation>Информация о заявителе</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="firstname" type="tns:PersonNameType">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lastname" type="tns:PersonNameType">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="middlename" type="tns:PersonNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="snils" type="common:SNILSType">
				<xs:annotation>
					<xs:documentation>СНИЛС</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="document" type="tns:DocumentType">
				<xs:annotation>
					<xs:documentation>Документ, удостоверяющий личность заявителя</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentType">
		<xs:annotation>
			<xs:documentation>Документ, удостоверяющий личность заявителя</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type" type="tns:DocumentCodeType">
				<xs:annotation>
					<xs:documentation>Вид документа</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="series">
				<xs:annotation>
					<xs:documentation>Серия</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="number">
				<xs:annotation>
					<xs:documentation>Номер</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HousingFundObjectInfoType">
		<xs:annotation>
			<xs:documentation>Сведения об объекте жилищного фонда (ОЖФ), по которому осуществляется запрос</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="house-id" type="common:UUID">
				<xs:annotation>
					<xs:documentation>Идентификатор дома в Реестре адресных объектов ГИС ЖКХ</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="address-details" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительная информация об ОЖФ (номер квартиры / помещения, комнаты, блока жилого дома). Обязателен для ОЖФ, имеющих тип многоквартирный дом или жилой дом блокированной застройки. Не указывается для ОЖФ, имеющих тип жилой дом</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ActionType">
		<xs:annotation>
			<xs:documentation>
                Типы операций с запросами о наличии задолженности за ЖКУ. Допустимые значения:
                SEND - Направить запрос поставщикам ЖКУ;
                REVOKE - Отозвать ранее направленный запрос
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="SEND"/>
			<xs:enumeration value="REVOKE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DocumentCodeType">
		<xs:annotation>
			<xs:documentation>
                Код документа, удостоверяющего личность.

                Допускаются любые значения из справочника ГИС ЖКХ "Документ, удостоверяющий личность" (НСИ #95). На
                момент выпуска версии 1.0.0 вида сведений актуальными являются следующие значения (в случае изменения
                состава справочника эта информация будет отражена в документации на вид сервиса, публикуемой на портале
                СМЭВ 3.0):

                Код Документ, удостоверяющий личность
                --- ---------------------------------------
                1 Паспорт гражданина Российской Федерации
                2 Паспорт гражданина СССР
                3 Паспорт гражданина иностранного государства
                4 Общегражданский заграничный паспорт
                5 Заграничный паспорт Министерства морского флота
                6 Дипломатический паспорт
                7 Паспорт моряка (удостоверение личности моряка)
                8 Военный билет военнослужащего
                9 Временное удостоверение, выданное взамен военного билета
                10 Удостоверение личности офицера Министерства обороны Российской Федерации, Министерства внутренних дел
                Российской Федерации и других воинских формирований с приложением справки о прописке (регистрации) Ф-33
                11 Свидетельство о рождении
                12 Свидетельство о рассмотрении ходатайства о признании беженцем на территории Российской Федерации по
                существу
                13 Вид на жительство иностранного гражданина или лица без гражданства
                14 Справка об освобождении из мест лишения свободы
                15 Временное удостоверение личности гражданина Российской Федерации
                16 Удостоверение вынужденного переселенца
                17 Разрешение на временное проживание в Российской Федерации
                18 Удостоверение беженца в Российской Федерации
                19 Свидетельство о рассмотрении ходатайства о признании лица вынужденным переселенцем
                20 Свидетельство о предоставлении временного убежища на территории Российской Федерации
                21 Иные документы, предусмотренные законодательством Российской Федерации или признаваемые в
                соответствии с международным договором Российской Федерации в качестве документов, удостоверяющих
                личность
                22 Загранпаспорт гражданина бывшего СССР
            </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="PersonNameType">
		<xs:annotation>
			<xs:documentation>Тип для указания ФИО (строка до 255 символов)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
