smevAdapterUszn/src/main/java/smev/ElementServices/Dohflna/fns-dohflnasp-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by VI (GNIVC FNS RF) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fns="urn://x-artefacts-fns-dohflnasp/types/4.0.0" targetNamespace="urn://x-artefacts-fns-dohflnasp/types/4.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--==========================================  Структурированные типы  ==========================================-->
	<xs:complexType name="IdentityDocumentType">
		<xs:annotation>
			<xs:documentation>Сведения о документе, удостоверяющем личность физического лица</xs:documentation>
		</xs:annotation>
		<xs:attribute name="DocumentCode" type="fns:SPDULType" use="required">
			<xs:annotation>
				<xs:documentation>Код вида документа, удостоверяющего личность</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SeriesNumber" type="fns:SPDULTemplateType" use="required">
			<xs:annotation>
				<xs:documentation>Серия и номер документа, удостоверяющего личность</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IssuerDate" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation>Дата выдачи документа, удостоверяющего личность</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Issuer" type="fns:string-255" use="optional">
			<xs:annotation>
				<xs:documentation>Наименование органа, выдавшего документ, удостоверяющий личность</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IssuerCode" type="fns:string-7" use="optional">
			<xs:annotation>
				<xs:documentation>Код подразделения органа, выдавшего документ, удостоверяющий личность</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="IdentityDocumentShortType">
		<xs:annotation>
			<xs:documentation>Сведения (краткие) о документе, удостоверяющем личность физического лица</xs:documentation>
		</xs:annotation>
		<xs:attribute name="DocumentCode" type="fns:SPDULType" use="required">
			<xs:annotation>
				<xs:documentation>Код вида документа, удостоверяющего личность</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SeriesNumber" type="fns:SPDULTemplateType" use="required">
			<xs:annotation>
				<xs:documentation>Серия и номер документа, удостоверяющего личность</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PhysicalPersonDataType">
		<xs:sequence>
			<xs:element name="PhysicalPersonName" type="fns:PhysicalPersonNameType">
				<xs:annotation>
					<xs:documentation>Фамилия, имя, отчество физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentityDocument" type="fns:IdentityDocumentType">
				<xs:annotation>
					<xs:documentation>Сведения о документе, удостоверяющем личность физического лица</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="BirthDate" type="xs:date" use="required">
			<xs:annotation>
				<xs:documentation>Дата рождения</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="BirthPlace" type="fns:string-255" use="optional">
			<xs:annotation>
				<xs:documentation>Место рождения</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PhysicalPersonNameType">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество физического лица</xs:documentation>
		</xs:annotation>
		<xs:attribute name="FamilyName" type="fns:string-60" use="required">
			<xs:annotation>
				<xs:documentation>Фамилия</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="FirstName" type="fns:string-60" use="required">
			<xs:annotation>
				<xs:documentation>Имя</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Patronymic" type="fns:string-60" use="optional">
			<xs:annotation>
				<xs:documentation>Отчество</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="digits-20">
		<xs:annotation>
			<xs:documentation>Строка, состоящая из двадцати цифр</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="20"/>
			<xs:pattern value="\d{20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digits-11">
		<xs:annotation>
			<xs:documentation>Строка, состоящая из одиннадцати цифр. Например номер записи</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="11"/>
			<xs:pattern value="\d{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digits-6">
		<xs:annotation>
			<xs:documentation>Строка, состоящая из 6 цифр</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
			<xs:pattern value="\d{6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digits-4">
		<xs:annotation>
			<xs:documentation>Строка, состоящая из четырёх цифр</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digits-3">
		<xs:annotation>
			<xs:documentation>Строка, состоящая из 3 цифр</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="\d{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="digits-2">
		<xs:annotation>
			<xs:documentation>Строка, состоящая из 2 цифр</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="KPPType">
		<xs:annotation>
			<xs:documentation>Код причины постановки на учет (КПП) </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-F]{2})([0-9]{3})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="IDRequestType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="36"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LegalPersonINNType">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-17_2">
		<xs:annotation>
			<xs:documentation>Число десятичноеое, содержащее до 17 разрядов, два после запятой</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="17"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-14_2">
		<xs:annotation>
			<xs:documentation>Число десятичноеое, содержащее до 14 разрядов, два после запятой</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="14"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-15">
		<xs:annotation>
			<xs:documentation>Число целое, содержащее до 15 разрядов</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-12">
		<xs:annotation>
			<xs:documentation>Число целое, содержащее до 12 разрядов</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-9">
		<xs:annotation>
			<xs:documentation>Число целое, содержащее до 9 разрядов</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-4">
		<xs:annotation>
			<xs:documentation>Число целое, содержащее до 4 разрядов</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-3">
		<xs:annotation>
			<xs:documentation>Число целое, содержащее до 3 разрядов</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-2">
		<xs:annotation>
			<xs:documentation>Число целое, содержащее до 2 разрядов</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number-1">
		<xs:annotation>
			<xs:documentation>Число целое, содержащее 1 разряд</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OKTMOType">
		<xs:annotation>
			<xs:documentation>Код Общероссийского классификатора территорий муниципальных образований</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="\d{8}"/>
			<xs:pattern value="\d{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OKCMType">
		<xs:annotation>
			<xs:documentation>Код Общероссийского классификатора стран мира (3-разрядный, цифровой)</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
			<xs:pattern value="\d{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PhysicalPersonINNType">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SONOType">
		<xs:annotation>
			<xs:documentation>Код Классификатора системы обозначений налоговых органов</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SPDULTemplateType">
		<xs:annotation>
			<xs:documentation>Шаблон серии, номера из Справочника видов документов, удостоверяющих личность налогоплательщика</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SPDULType">
		<xs:annotation>
			<xs:documentation>Код Справочника видов документов, удостоверяющих личность налогоплательщика</xs:documentation>
			<xs:documentation>Содержит только цифры</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SNILSType">
		<xs:annotation>
			<xs:documentation>СНИЛС</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="11"/>
			<xs:pattern value="\d{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SSRFType">
		<xs:annotation>
			<xs:documentation>Код по Справочнику субъектов Российской Федерации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="fns:digits-2"/>
	</xs:simpleType>
	<xs:simpleType name="string-1000">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 1000 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-255">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 255 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-100">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 100 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-60">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 60 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-50">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 50 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-36">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 36 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="36"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-25">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 25 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-20">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 20 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-12">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 12 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-10">
		<xs:annotation>
			<xs:documentation>Произвольный текст длиной от 1 до 10 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-7">
		<xs:annotation>
			<xs:documentation>Текст длиной ровно 7 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-5">
		<xs:annotation>
			<xs:documentation>Текст длиной ровно 5 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-3">
		<xs:annotation>
			<xs:documentation>Текст длиной ровно 3 символа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-2">
		<xs:annotation>
			<xs:documentation>Текст длиной ровно 2 символа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-1">
		<xs:annotation>
			<xs:documentation>Текст длиной ровно 1 символ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GUID">
		<xs:annotation>
			<xs:documentation>Глобально уникальный идентификатор (GUID), ровно 36 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="36"/>
			<xs:minLength value="1"/>
			<xs:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AddressLocationType">
		<xs:annotation>
			<xs:documentation>Адрес в Российской Федерации</xs:documentation>
		</xs:annotation>
		<xs:attribute name="IndexPostal" type="fns:digits-6" use="optional">
			<xs:annotation>
				<xs:documentation>Почтовый индекс</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Region" type="fns:SSRFType" use="required">
			<xs:annotation>
				<xs:documentation>Код субъекта Российской Федерации</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="District" type="fns:string-50" use="optional">
			<xs:annotation>
				<xs:documentation>Район</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Town" type="fns:string-50" use="optional">
			<xs:annotation>
				<xs:documentation>Город</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Locality" type="fns:string-50" use="optional">
			<xs:annotation>
				<xs:documentation>Населенный пункт</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Street" type="fns:string-50" use="optional">
			<xs:annotation>
				<xs:documentation>Улица</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="House" type="fns:string-20" use="optional">
			<xs:annotation>
				<xs:documentation>Дом</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Housing" type="fns:string-20" use="optional">
			<xs:annotation>
				<xs:documentation>Корпус</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Apartment" type="fns:string-20" use="optional">
			<xs:annotation>
				<xs:documentation>Квартира</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
