smevAdapterUszn/src/main/java/smev/ElementServices/ZagsRename/zags-pernameinf-ru-root.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://x-artefacts-zags-pernameinf/root/112-53/4.0.0" xmlns:fnst="urn://x-artefacts-zags-pernameinf/types/4.0.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:ns1="urn://x-artefacts-zags-pernameinf/root/112-53/4.0.0" targetNamespace="urn://x-artefacts-zags-pernameinf/root/112-53/4.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="urn://x-artefacts-zags-pernameinf/types/4.0.0" schemaLocation="zags-pernameinf-types.xsd"/>
	<xs:element name="PERNAMEINFRequest">
		<xs:annotation>
			<!---************************************************************************************************************************************************************-->
			<xs:appinfo>
				<sch:pattern name="Проверка присутствия (отсутствия) элемента МуниципРайон в зависимости от значения элемента Регион">
					<sch:rule context="*[local-name()='АдрМО']">
						<sch:assert test="usch:iif(*[local-name()='Регион']!=99, count(*[local-name()='МуниципРайон'])!=0, count(*[local-name()='МуниципРайон'])!=0 or count(*[local-name()='МуниципРайон'])=0)">
							<usch:error code="0400300003" path="count(МуниципРайон)" value-of-select="*[local-name()='Регион']">Не выполнено условие присутствия (отсутствия) элемента МуниципРайон при значении элемента Регион, равном "<usch:value-of select="*[local-name()='Регион']"/>" </usch:error>
						</sch:assert>
					</sch:rule>
				</sch:pattern>
			</xs:appinfo>
			<!---*************************************************************************************************************************************************************-->
			<xs:documentation>Запрос на предоставление сведений об актах гражданского состояния о перемене имени, содержащихся в Едином государственном реестре записей актов гражданского состояния</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="СведОсн">
					<xs:annotation>
						<xs:documentation>Сведения о нормативно-правовых основаниях запрашивающей стороны для получения сведений из ЕГР ЗАГС об актах гражданского состояния о перемене имени</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice>
							<xs:element name="ПрСведДокОсн">
								<xs:annotation>
									<xs:documentation>Признак отсутствия сведений об организационно-распорядительном документе, подтверждающем основания для запроса сведений из ЕГР ЗАГС</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="fnst:string-1">
										<xs:enumeration value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="СведДокОсн" type="fnst:string-500">
								<xs:annotation>
									<xs:documentation>Сведения об организационно-распорядительном документе, подтверждающем основания для запроса сведений из ЕГР ЗАГС</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
						<xs:attribute name="КодНормОсн" type="fnst:string-2" use="required">
							<xs:annotation>
								<xs:documentation>Код нормативно-правового основания для получения сведений из ЕГР ЗАГС по справочнику СНПОСН</xs:documentation>
								<xs:documentation>Принимает значение по справочнику нормативно-правового основания для получения сведений из ЕГР ЗАГС (СНПОСН)</xs:documentation>
								<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
								<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">СНПОСН</xs:appinfo>
								<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Код основания для запроса сведений</xs:appinfo>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="СведЗапрос" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Сведения, содержащиеся в запросе</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СведАГС" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Сведения о государственной регистрации АГС о перемене имени, в отношении которого сформирован запрос</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:choice>
											<xs:element name="ДатаЗаписДок" type="fnst:ДатаДокТип">
												<xs:annotation>
													<xs:documentation>Дата составления записи по представленным документам (неполная дата)</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ДатаЗапис" type="xs:date">
												<xs:annotation>
													<xs:documentation>Дата составления записи акта гражданского состояния (календарная дата)</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
										<xs:element name="ОрганЗАГС" type="fnst:ОрганЗАГСНТип">
											<xs:annotation>
												<xs:documentation>Сведения об органе ЗАГС, которым произведена государственная регистрация акта гражданского состояния</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="НомерЗапис" type="fnst:string-22" use="required">
										<xs:annotation>
											<xs:documentation>Номер записи акта гражданского состояния</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="СведФЛ">
								<xs:annotation>
									<xs:documentation>Сведения о физическом лице, в отношении которого сформирован запрос</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ФИО" type="fnst:ФИОПрТип">
											<xs:annotation>
												<xs:documentation>Фамилия, имя, отчество</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:choice>
											<xs:element name="ПрДатаРожд">
												<xs:annotation>
													<xs:documentation>Признак отсутствия сведений о дате рождения</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
													<xs:restriction base="fnst:string-1">
														<xs:enumeration value="1"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ДатаРождКаленд" type="xs:date">
												<xs:annotation>
													<xs:documentation>Дата рождения (календарная дата)</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ДатаРождДок" type="fnst:ДатаДокТип">
												<xs:annotation>
													<xs:documentation>Дата рождения по представленным документам</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
										<xs:element name="УдЛичнФЛ" type="fnst:УдЛичнФЛСНТип" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ТипФИО">
										<xs:annotation>
											<xs:documentation>Тип сведений о фамилии, имени, отчестве указанные в запросе </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="fnst:string-1">
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="СНИЛС" type="fnst:СНИЛСТип" use="optional">
										<xs:annotation>
											<xs:documentation>СНИЛС</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:choice>
								<xs:element name="ПрРегионРегАГС">
									<xs:annotation>
										<xs:documentation>Признак отсутствия сведений о субъекте Российской Федерации, где зарегистрирован акт гражданского состояния</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="fnst:string-1">
											<xs:enumeration value="1"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:element>
								<xs:element name="РегионРегАГС" type="fnst:ССРФТип">
									<xs:annotation>
										<xs:documentation>Субъект Российской Федерации, где зарегистрирован акт гражданского состояния</xs:documentation>
										<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
										<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">ССРФ</xs:appinfo>
										<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Код субъекта Российской Федерации</xs:appinfo>
									</xs:annotation>
								</xs:element>
							</xs:choice>
						</xs:sequence>
						<xs:attribute name="ИдДок" type="fnst:string-36" use="required">
							<xs:annotation>
								<xs:documentation>Идентификатор документа</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдЗапрос" type="fnst:ИдЗапросТип" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор запроса, сформированный запрашивающей стороной</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="КолДок" type="fnst:number-2" use="required">
				<xs:annotation>
					<xs:documentation>Количество документов в представленном файле</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ТипАГС" use="required">
				<xs:annotation>
					<xs:documentation>Тип акта гражданского состояния, в отношении которого сформирован запрос</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="fnst:string-2">
						<xs:enumeration value="06"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PERNAMEINFResponse">
		<xs:annotation>
			<xs:documentation>Ответ на запрос, сформированный участником взаимодействия СМЭВ на предоставление сведений об актах гражданского состояния о перемене имени, содержащихся в Едином государственном реестре записей актов гражданского состояния</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="СведОтветАГС" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Сведения ответа на запрос о государственной регистрации АГС о перемене имени</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СведРегПерИмя" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Сведения о государственной регистрации перемены имени</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:choice>
											<xs:element name="ДатаЗапис" type="xs:date">
												<xs:annotation>
													<xs:documentation>Дата составления актовой  записи о перемене имени</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ДатаЗаписДок" type="fnst:ДатаДокТип">
												<xs:annotation>
													<xs:documentation>Дата составления актовой  записи о перемене имени по представленным документам (неполная дата)</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
										<xs:element name="ОрганЗАГС" type="fnst:ОрганЗАГСТип">
											<xs:annotation>
												<xs:documentation>Сведения об органе ЗАГС, которым произведена государственная регистрация перемены имени</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="СвидетПерИмя" type="fnst:СведСвидетТип" minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Сведения о выданном Свидетельстве о перемене имени</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ПрдСведРег">
											<xs:annotation>
												<xs:documentation>Передаваемые сведения о государственной регистрации перемены имени</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:sequence>
														<xs:choice>
															<xs:element name="ПрГражданство">
																<xs:annotation>
																	<xs:documentation>Признак отсутствия сведений о гражданстве</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="fnst:string-1">
																		<xs:enumeration value="1"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:element>
															<xs:element name="ГраждТекст" type="fnst:string-255">
																<xs:annotation>
																	<xs:documentation>Наименование страны гражданства (Не справочное значение)</xs:documentation>
																</xs:annotation>
															</xs:element>
															<xs:element name="ГраждОКСМ" type="fnst:ОКСМТип">
																<xs:annotation>
																	<xs:documentation>Код страны гражданства (по Справочнику ОКСМ)</xs:documentation>
																	<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
																	<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">ОКСМ</xs:appinfo>
																	<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Цифровой код</xs:appinfo>
																</xs:annotation>
															</xs:element>
														</xs:choice>
														<xs:element name="ФИОДо" type="fnst:ФИОПрТип">
															<xs:annotation>
																<xs:documentation>Фамилия, имя, отчество до перемены имени</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="ФИОПосле" type="fnst:ФИОПрТип">
															<xs:annotation>
																<xs:documentation>Фамилия, имя, отчество после перемены имени</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
													<xs:choice>
														<xs:element name="ПрДатаРожд">
															<xs:annotation>
																<xs:documentation>Признак отсутствия сведений о дате рождения</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="fnst:string-1">
																	<xs:enumeration value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ДатаРождКаленд" type="xs:date">
															<xs:annotation>
																<xs:documentation>Дата рождения (календарная дата)</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="ДатаРождДок" type="fnst:ДатаДокТип">
															<xs:annotation>
																<xs:documentation>Дата рождения по представленным документам</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:choice>
													<xs:choice>
														<xs:element name="ПрМестоРожден">
															<xs:annotation>
																<xs:documentation>Признак отсутствия сведений о месте рождения</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="fnst:string-1">
																	<xs:enumeration value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="МестоРожден" type="fnst:МестоТип">
															<xs:annotation>
																<xs:documentation>Место рождения</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:choice>
													<xs:choice>
														<xs:element name="ПрАдрМЖ">
															<xs:annotation>
																<xs:documentation>Признак отсутствия сведений об адресе места жительства</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="fnst:string-1">
																	<xs:enumeration value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="АдрМЖ" type="fnst:АдрМЖТип">
															<xs:annotation>
																<!---************************************************************************************************************************************************************-->
																<xs:appinfo>
																	<sch:pattern name="Проверка присутствия (отсутствия) элемента МуниципРайон в зависимости от значения элемента Регион">
																		<sch:rule context="*[local-name()='АдрМО']">
																			<sch:assert test="usch:iif(*[local-name()='Регион']!=99, count(*[local-name()='МуниципРайон'])!=0, count(*[local-name()='МуниципРайон'])!=0 or count(*[local-name()='МуниципРайон'])=0)">
																				<usch:error code="0400300003" path="count(МуниципРайон)" value-of-select="Регион">Не выполнено условие присутствия (отсутствия) элемента МуниципРайон при значении элемента Регион, равном "<usch:value-of select="Регион"/>" </usch:error>
																			</sch:assert>
																		</sch:rule>
																	</sch:pattern>
																</xs:appinfo>
																<!---*************************************************************************************************************************************************************-->
																<xs:documentation>Адрес место жительства</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:choice>
													<xs:choice>
														<xs:element name="ПрУдЛичнФЛ">
															<xs:annotation>
																<xs:documentation>Признак отсутствия сведений о документе, удостоверяющем личность</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="fnst:string-1">
																	<xs:enumeration value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="УдЛичнФЛ" type="fnst:УдЛичнФЛПрТип">
															<xs:annotation>
																<xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:choice>
													<xs:choice>
														<xs:element name="ПрСведРегРожд">
															<xs:annotation>
																<xs:documentation>Признак отсутствия сведений о государственной регистрации рождения</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="fnst:string-1">
																	<xs:enumeration value="1"/>
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="СведРегРожд" type="fnst:СведДокОснТип">
															<xs:annotation>
																<xs:documentation>Сведения о государственной регистрации рождения</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:choice>
												</xs:sequence>
												<xs:attribute name="СНИЛС" type="fnst:СНИЛСТип"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="СВедЕГРРазд2" type="fnst:СведЕГРРазд2Тип" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о внесении в ЕГР ЗАГС сведений о документе компетентного органа иностранного государства (Раздел 2)</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="РазделЕГР" use="required">
										<xs:annotation>
											<xs:documentation>Раздел ЕГР ЗАГС, в котором содержатся сведения о регистрации акта гражданского состояния</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="fnst:string-1">
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="НомерЗаписЕГР" type="fnst:string-21" use="required">
										<xs:annotation>
											<xs:documentation>Номер актовой записи оперемене имени в ЕГР ЗАГС</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="НомАГССвид" type="fnst:string-10">
										<xs:annotation>
											<xs:documentation>Номер актовой записи, указанный в свидетельстве о перемене имени</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="НомерВерс" type="fnst:string-1_3" use="required">
										<xs:annotation>
											<xs:documentation>Номер версии записи</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ДатаВерс" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation>Дата версии записи</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="КодСостСтат" type="fnst:string-4" use="required">
										<xs:annotation>
											<xs:documentation>Код состояния и статуса записи акта о перемене имени по справочнику СОСТАГС</xs:documentation>
											<xs:documentation>Принимает значение кода по Справочнику состояния и статуса записи акта гражданского состояния (СОСТАГС)</xs:documentation>
											<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
											<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">СОСТАГС</xs:appinfo>
											<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Код состояния и статуса АГС</xs:appinfo>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ИдДок" type="fnst:string-36" use="required">
							<xs:annotation>
								<xs:documentation>Идентификатор документа</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="РезОбраб" use="required">
							<xs:annotation>
								<xs:documentation>Результат обработки поступившего запроса</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="fnst:string-1">
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
									<xs:enumeration value="3"/>
									<xs:enumeration value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдЗапрос" type="fnst:ИдЗапросТип" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор запроса, сформированный запрашивающей стороной</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ДатаСвед" type="xs:date" use="required">
				<xs:annotation>
					<xs:documentation>Дата, на которую сформированы сведения по поступившему запросу</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="КолДок" type="fnst:number-2" use="required">
				<xs:annotation>
					<xs:documentation>Количество документов в представленном файле</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ТипАГСЗапрос" use="required">
				<xs:annotation>
					<xs:documentation>Тип акта гражданского состояния, в отношении которого сформирован запрос</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="fnst:string-2">
						<xs:enumeration value="06"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
