smevAdapterUszn/src/main/java/smev/ElementServices/Zags/zags-inform-ru-root.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by VI (GNIVC FNS RF) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fnst="urn://x-artefacts-zags-inform/types/4.0.4"
           targetNamespace="urn://x-artefacts-zags-inform/root/112-11/4.0.4" elementFormDefault="qualified"
           attributeFormDefault="unqualified">
	<xs:import namespace="urn://x-artefacts-zags-inform/types/4.0.4" schemaLocation="zags-inform-types.xsd"/>
	<xs:element name="informRequest">
		<xs:annotation>
			<xs:documentation>Запрос на предоставление сведений об актах гражданского состояния, содержащихся в Едином государственном реестре записей актов гражданского состояния</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="СведАГС" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сведения о государственной регистрации АГС, в отношении которого сформирован запрос</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ОрганЗАГС">
								<xs:annotation>
									<xs:documentation>Сведения об органе ЗАГС, которым произведена государственная регистрация акта гражданского состояния</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="НаимЗАГС" type="fnst:string-1000" use="required">
										<xs:annotation>
											<xs:documentation>Полное наименование органа ЗАГС, которым произведена государственная регистрация акта гражданского состояния</xs:documentation>
											<xs:documentation>Принимает значение полного наименования по справочнику органов записи актов гражданского состояния (СОЗАГС)</xs:documentation>
											<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
											<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">СОЗАГС</xs:appinfo>
											<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Наименование</xs:appinfo>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="КодЗАГС" type="fnst:string-8" use="optional">
										<xs:annotation>
											<xs:documentation>Код органа ЗАГС</xs:documentation>
											<xs:documentation>Принимает значение по справочнику органов записи актов гражданского состояния (СОЗАГС)</xs:documentation>
											<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
											<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">СОЗАГС</xs:appinfo>
											<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Код</xs:appinfo>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="НомерЗапис" type="fnst:string-1_22" use="required">
							<xs:annotation>
								<xs:documentation>Номер записи акта гражданского состояния</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ДатаЗапис" type="xs:date" use="required">
							<xs:annotation>
								<xs:documentation>Дата составления записи акта гражданского состояния</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="СведФЛ">
					<xs:annotation>
						<xs:documentation>Сведения о физическом лице, в отношении которого сформирован запрос</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ФИО" type="fnst:ФИОПрТип">
								<xs:annotation>
									<xs:documentation>Фамилия, имя, отчество</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:choice>
								<xs:element name="ДатаРожд" type="xs:date">
									<xs:annotation>
										<xs:documentation>Дата рождения</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="МесГодРожд" type="xs:gYearMonth">
									<xs:annotation>
										<xs:documentation>Месяц и год рождения</xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="ГодРожд" type="xs:gYear">
									<xs:annotation>
										<xs:documentation>Год рождения</xs:documentation>
									</xs:annotation>
								</xs:element>
							</xs:choice>
							<xs:element name="УдЛичнФЛ" type="fnst:УдЛичнФЛТип" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="СНИЛС" type="fnst:СНИЛСТип" use="optional">
							<xs:annotation>
								<xs:documentation>СНИЛС</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ИННФЛ" type="fnst:ИННФЛТип" use="optional">
							<xs:annotation>
								<xs:documentation>ИНН физического лица</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдЗапрос" type="fnst:ИдЗапросТип" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор запроса, сформированный запрашивающей стороной</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ТипЗапрос" use="required">
				<xs:annotation>
					<xs:documentation>Тип запрашиваемой формы ответа на запрос</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="fnst:digits-1">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ТипАГС" use="required">
				<xs:annotation>
					<xs:documentation>Тип акта гражданского состояния, в отношении которого сформирован запрос</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="fnst:digits-1">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="6"/>
						<xs:enumeration value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="informResponse">
		<xs:annotation>
			<xs:documentation>Ответ на запрос, сформированный участником взаимодействия СМЭВ на предоставление сведений об актах гражданского состояния, содержащихся в Едином государственном реестре записей актов гражданского состояния</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="СведРегРожд" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сведения о государственной регистрации рождения</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ОрганЗАГС" type="fnst:ОрганЗАГСТип">
								<xs:annotation>
									<xs:documentation>Сведения об органе ЗАГС, которым произведена государственная регистрация рождения ребенка</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="СтатусЗаписи" type="fnst:СтатусЗаписиТип">
								<xs:annotation>
									<xs:documentation>Сведения о статусе записи акта о рождении</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="СвидетРожд" type="fnst:СведСвидетТип" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Сведения о выданном Свидетельстве о рождении</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ПрдСведРег">
								<xs:annotation>
									<xs:documentation>Передаваемые сведения о государственной регистрации рождения</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="СведРодившемся">
											<xs:annotation>
												<xs:documentation>Сведения о родившемся</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ФИОРожд" type="fnst:ФИОПрТип">
														<xs:annotation>
															<xs:documentation>Фамилия, имя, отчество рожденного ребенка</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:choice>
														<xs:element name="ДатаРожд" type="xs:date">
															<xs:annotation>
																<xs:documentation>Дата рождения</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="МесГодРожд" type="xs:gYearMonth">
															<xs:annotation>
																<xs:documentation>Месяц и год рождения</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="ГодРожд" type="xs:gYear">
															<xs:annotation>
																<xs:documentation>Год рождения</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:choice>
													<xs:element name="МестоРожден" type="fnst:МестоТип">
														<xs:annotation>
															<xs:documentation>Место рождения</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="ЖивМертв" use="required">
													<xs:annotation>
														<xs:documentation>Живорожденный, мертворожденный</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="fnst:digits-1">
															<xs:enumeration value="0"/>
															<xs:enumeration value="1"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Пол" use="required">
													<xs:annotation>
														<xs:documentation>Пол</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="fnst:digits-1">
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СведМать" type="fnst:СведРодитТип" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о матери</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="СведОтец" type="fnst:СведРодитТип" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения об отце</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="СведДокРод" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о документе, подтверждающем факт рождения ребенка</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:choice>
													<xs:element name="НаимОрг" type="fnst:string-255" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Наименование органа, выдавшего документ</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ФИОИП" type="fnst:ФИОПрТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Фамилия, имя, отчество индивидуального предпринимателя, осуществляющего медицинскую деятельность</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ФИОФЛ" type="fnst:ФИОПрТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Фамилия, имя, отчество физического лица, представившего заявление</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:choice>
												<xs:attribute name="КодДок" use="optional">
													<xs:annotation>
														<xs:documentation>Код вида документа, подтверждающего факт рождения</xs:documentation>
														<xs:documentation>Принимает значение в соответствии со Справочником видов документов, используемых при государственной регистрации актов гражданского состояния и при совершении иных юридически значимых действий (СДРАГС)</xs:documentation>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">СДРАГС</xs:appinfo>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Код</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="fnst:digits-5"/>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НаимДок" type="fnst:string-500" use="required">
													<xs:annotation>
														<xs:documentation>Наименование документа, подтверждающего факт рождения</xs:documentation>
														<xs:documentation>Принимает значение в соответствии со Справочником видов документов, используемых при государственной регистрации актов гражданского состояния и при совершении иных юридически значимых действий (СДРАГС)</xs:documentation>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">СДРАГС</xs:appinfo>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Наименование</xs:appinfo>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="СерНомДок" type="fnst:string-25" use="optional">
													<xs:annotation>
														<xs:documentation>Серия и номер документа</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ДатаДок" type="xs:date" use="optional">
													<xs:annotation>
														<xs:documentation>Дата документа</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="КолРодДетей" use="optional">
										<xs:annotation>
											<xs:documentation>Количество родившихся детей</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="fnst:number-2">
												<xs:minInclusive value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="НомерЗапис" type="fnst:string-1_22" use="required">
							<xs:annotation>
								<xs:documentation>Номер записи акта о рождении</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ДатаЗапис" type="xs:date" use="required">
							<xs:annotation>
								<xs:documentation>Дата составления записи акта о рождении</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="СведРегЗаклБрак" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Сведения о государственной регистрации заключения брака</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ОрганЗАГС" type="fnst:ОрганЗАГСТип">
								<xs:annotation>
									<xs:documentation>Сведения об органе ЗАГС, которым произведена государственная регистрация заключения брака</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="СтатусЗаписи" type="fnst:СтатусЗаписиТип">
								<xs:annotation>
									<xs:documentation>Сведения о статусе записи акта о заключении брака</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="СведСвидет" type="fnst:СведСвидетТип" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Сведения о выданном Свидетельстве о заключении брака</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ПрдСведРег">
								<xs:annotation>
									<xs:documentation>Передаваемые сведения о государственной регистрации заключения брака</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="СведЛицБрак">
											<xs:annotation>
												<xs:documentation>Сведения о лицах, заключивших брак</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Супруг" type="fnst:СупругТип">
														<xs:annotation>
															<xs:documentation>Супруг</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Супруга" type="fnst:СупругТип">
														<xs:annotation>
															<xs:documentation>Супруга</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ПризСвед" use="required">
										<xs:annotation>
											<xs:documentation>Признак сведений</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="fnst:digits-1">
												<xs:enumeration value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ДатаЗаклБрак" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation>Дата заключения брака</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="НомерЗапис" type="fnst:string-1_22" use="required">
							<xs:annotation>
								<xs:documentation>Номер записи акта о заключении брака</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ДатаЗапис" type="xs:date" use="required">
							<xs:annotation>
								<xs:documentation>Дата составления записи акта о заключении брака</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="СведРегРстржБрак" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Сведения о государственной регистрации расторжения брака</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ОрганЗАГС" type="fnst:ОрганЗАГСТип">
								<xs:annotation>
									<xs:documentation>Сведения об органе ЗАГС, которым произведена государственная регистрация расторжения брака</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="СтатусЗаписи" type="fnst:СтатусЗаписиТип">
								<xs:annotation>
									<xs:documentation>Сведения о статусе записи акта о расторжении брака</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="СведСвидет" type="fnst:СведСвидетТип" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Сведения о выданном Свидетельстве о расторжении брака</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ПрдСведРег">
								<xs:annotation>
									<xs:documentation>Передаваемые сведения о государственной регистрации расторжения брака</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="СведЛицБрак">
											<xs:annotation>
												<xs:documentation>Сведения о лицах, расторгнувших брак</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Супруг" type="fnst:СупругТип">
														<xs:annotation>
															<xs:documentation>Супруг</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Супруга" type="fnst:СупругТип">
														<xs:annotation>
															<xs:documentation>Супруга</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ПризСвед" use="required">
										<xs:annotation>
											<xs:documentation>Признак сведений</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="fnst:digits-1">
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ДатаПрекрБрак" type="xs:date" use="required">
										<xs:annotation>
											<xs:documentation>Дата прекращения брака</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="НомерЗапис" type="fnst:string-1_22" use="required">
							<xs:annotation>
								<xs:documentation>Номер записи акта о расторжении брака</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ДатаЗапис" type="xs:date" use="required">
							<xs:annotation>
								<xs:documentation>Дата составления записи акта о расторжении брака</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="СвеРегОтцов" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Сведения о государственной регистрации установления отцовства</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ОрганЗАГС" type="fnst:ОрганЗАГСТип">
								<xs:annotation>
									<xs:documentation>Сведения об органе ЗАГС, которым произведена государственная регистрация установления отцовства</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="СтатусЗаписи" type="fnst:СтатусЗаписиТип">
								<xs:annotation>
									<xs:documentation>Сведения о статусе записи акта об установлении отцовства</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="СведСвидет" type="fnst:СведСвидетТип" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Сведения о выданном Свидетельстве об установлении отцовства</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ПрдСведРег">
								<xs:annotation>
									<xs:documentation>Передаваемые сведения о государственной регистрации установления отцовства</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="СведРебенок">
											<xs:annotation>
												<xs:documentation>Сведения о ребенке</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ФИОДо" type="fnst:ФИОПрТип">
														<xs:annotation>
															<xs:documentation>Фамилия, имя, отчество ребенка до установления отцовства</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ФИОПосле" type="fnst:ФИОПрТип">
														<xs:annotation>
															<xs:documentation>Фамилия, имя, отчество ребенка после установления отцовства</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:choice>
														<xs:element name="ДатаРожд" type="xs:date">
															<xs:annotation>
																<xs:documentation>Дата рождения</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="МесГодРожд" type="xs:gYearMonth">
															<xs:annotation>
																<xs:documentation>Месяц и год рождения</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="ГодРожд" type="xs:gYear">
															<xs:annotation>
																<xs:documentation>Год рождения</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:choice>
													<xs:element name="МестоРожден" type="fnst:МестоТип">
														<xs:annotation>
															<xs:documentation>Место рождения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="СведРегРожд">
														<xs:annotation>
															<xs:documentation>Сведения о государственной регистрации рождения ребенка, в отношении которого установлено отцовство</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ОрганЗАГСРожд" type="fnst:ОрганЗАГСТип">
																	<xs:annotation>
																		<xs:documentation>Сведения об органе ЗАГС, которым произведена государственная регистрация рождения ребенка</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
															<xs:attribute name="НомерЗапис" type="fnst:string-1_22" use="required">
																<xs:annotation>
																	<xs:documentation>Номер записи акта о рождении</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ДатаЗапис" type="xs:date" use="required">
																<xs:annotation>
																	<xs:documentation>Дата составления записи акта о рождении</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="СведСвидетРожд" type="fnst:СведСвидетТип" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Сведения о выданном Свидетельстве о рождении</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="Пол" use="required">
													<xs:annotation>
														<xs:documentation>Пол</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="fnst:digits-1">
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СведМать" type="fnst:СведРодитТип" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о матери</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="СведОтец" type="fnst:СведРодитТип">
											<xs:annotation>
												<xs:documentation>Сведения об отце</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="СведДокОсн" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о документе, являющемся основанием для установления отцовства</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="КодДок" use="optional">
													<xs:annotation>
														<xs:documentation>Код вида документа, являющегося основанием для установления отцовства</xs:documentation>
														<xs:documentation>Принимает значение в соответствии со Справочником видов документов, используемых при государственной регистрации актов гражданского состояния и при совершении иных юридически значимых действий (СДРАГС)</xs:documentation>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">СДРАГС</xs:appinfo>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Код</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="fnst:digits-5"/>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НаимДок" type="fnst:string-500" use="required">
													<xs:annotation>
														<xs:documentation>Наименование вида документа, являющегося основанием для установления отцовства</xs:documentation>
														<xs:documentation>Принимает значение в соответствии со Справочником видов документов, используемых при государственной регистрации актов гражданского состояния и при совершении иных юридически значимых действий (СДРАГС)</xs:documentation>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">СДРАГС</xs:appinfo>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Наименование</xs:appinfo>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="НаимСудРеш" type="fnst:string-255" use="optional">
													<xs:annotation>
														<xs:documentation>Наименование органа суда, принявшего решение об установлении отцовства в отношении ребенка</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="СерНомДок" type="fnst:string-25" use="optional">
													<xs:annotation>
														<xs:documentation>Серия и номер документа</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ДатаДок" type="xs:date" use="optional">
													<xs:annotation>
														<xs:documentation>Дата документа</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="НомерЗапис" type="fnst:string-1_22" use="required">
							<xs:annotation>
								<xs:documentation>Номер записи акта об установлении отцовства</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ДатаЗапис" type="xs:date" use="required">
							<xs:annotation>
								<xs:documentation>Дата составления записи акта об установлении отцовства</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="СведРегПерИмя" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Сведения о государственной регистрации перемены имени</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ОрганЗАГС" type="fnst:ОрганЗАГСТип">
								<xs:annotation>
									<xs:documentation>Сведения об органе ЗАГС, которым произведена государственная регистрация перемены имени</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="СтатусЗаписи" type="fnst:СтатусЗаписиТип">
								<xs:annotation>
									<xs:documentation>Сведения о статусе записи акта о перемене имени</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="СведСвидет" type="fnst:СведСвидетТип" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Сведения о выданном Свидетельстве о перемене имени</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ПрдСведРег">
								<xs:annotation>
									<xs:documentation>Передаваемые сведения о государственной регистрации перемены имени</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ФИОДо" type="fnst:ФИОПрТип">
											<xs:annotation>
												<xs:documentation>Фамилия, имя, отчество до перемены имени</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ФИОПосле" type="fnst:ФИОПрТип">
											<xs:annotation>
												<xs:documentation>Фамилия, имя, отчество после перемены имени</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:choice>
											<xs:element name="ДатаРожд" type="xs:date">
												<xs:annotation>
													<xs:documentation>Дата рождения</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="МесГодРожд" type="xs:gYearMonth">
												<xs:annotation>
													<xs:documentation>Месяц и год рождения</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ГодРожд" type="xs:gYear">
												<xs:annotation>
													<xs:documentation>Год рождения</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
										<xs:element name="МестоРожден" type="fnst:МестоТип" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Место рождения</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:choice>
											<xs:element name="АдрМЖРФ" type="fnst:АдрМЖРФТип" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Адрес места жительства на территории Российской Федерации до перемены имени</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="АдрМЖИн" type="fnst:АдрМЖИнТип" minOccurs="0">
												<xs:annotation>
													<xs:documentation>Адрес места жительства за пределами Российской Федерации</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:choice>
										<xs:element name="УдЛичнФЛ" type="fnst:УдЛичнФЛТип" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="ОКСМ" type="fnst:ОКСМТип" use="optional">
										<xs:annotation>
											<xs:documentation>Код страны гражданства</xs:documentation>
											<xs:documentation>Принимает значение цифрового кода в соответствии с Общероссийским классификатором стран мира ОК 025-2001 (ОКСМ)</xs:documentation>
											<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
											<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">ОКСМ</xs:appinfo>
											<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Код</xs:appinfo>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="НаимСтраны" type="fnst:string-255" use="optional">
										<xs:annotation>
											<xs:documentation>Полное наименование страны гражданства</xs:documentation>
											<xs:documentation>Принимает значение в соответствии с Общероссийским классификатором стран мира ОК 025-2001 (ОКСМ)</xs:documentation>
											<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
											<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">ОКСМ</xs:appinfo>
											<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Полное наименование</xs:appinfo>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="НомерЗапис" type="fnst:string-1_22" use="required">
							<xs:annotation>
								<xs:documentation>Номер записи акта о перемене имени</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ДатаЗапис" type="xs:date" use="required">
							<xs:annotation>
								<xs:documentation>Дата составления записи акта о перемене имени</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="СведРегСмерт" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Сведения о государственной регистрации смерти</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ОрганЗАГС" type="fnst:ОрганЗАГСТип">
								<xs:annotation>
									<xs:documentation>Сведения об органе ЗАГС, которым произведена государственная регистрация смерти</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="СтатусЗаписи" type="fnst:СтатусЗаписиТип">
								<xs:annotation>
									<xs:documentation>Сведения о статусе записи акта о смерти</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="СведСвидет" type="fnst:СведСвидетТип" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Сведения о выданном Свидетельстве о смерти</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ПрдСведРег">
								<xs:annotation>
									<xs:documentation>Передаваемые сведения о государственной регистрации смерти</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="СведУмер">
											<xs:annotation>
												<xs:documentation>Сведения об умершем</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="СведПричСмерт" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Сведения о причинах смерти</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="КодПричСмерт" type="fnst:string-10" use="optional">
																<xs:annotation>
																	<xs:documentation>Код причины смерти</xs:documentation>
																	<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">https://nsi.rosminzdrav.ru/#!/refbook/1.2.643.5.1.13.13.11.1005</xs:appinfo>
																	<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">МКБ10</xs:appinfo>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ПричСмерт" type="fnst:string-255" use="optional">
																<xs:annotation>
																	<xs:documentation>Причина смерти</xs:documentation>
																	<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">https://nsi.rosminzdrav.ru/#!/refbook/1.2.643.5.1.13.13.11.1005</xs:appinfo>
																	<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">МКБ10</xs:appinfo>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
													<xs:element name="ФИОУмер" type="fnst:ФИОПрТип">
														<xs:annotation>
															<xs:documentation>Фамилия, имя, отчество умершего</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:choice>
														<xs:element name="ДатаРожд" type="xs:date" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Дата рождения</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="МесГодРожд" type="xs:gYearMonth" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Месяц и год рождения</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="ГодРожд" type="xs:gYear" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Год рождения</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:choice>
													<xs:element name="МестоРожден" type="fnst:МестоТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Место рождения</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:choice>
														<xs:element name="МЖПослРФ" type="fnst:АдрМЖРФТип" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Последнее место жительства умершего на территории Российской Федерации</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="МЖПослИн" type="fnst:АдрМЖИнТип" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Последнее место жительства умершего за пределами Российской Федерации</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:choice>
													<xs:element name="УдЛичнФЛ" type="fnst:УдЛичнФЛТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:choice>
														<xs:element name="ДатаСмерт" type="xs:date">
															<xs:annotation>
																<xs:documentation>Дата смерти</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="МесГодСмерт" type="xs:gYearMonth">
															<xs:annotation>
																<xs:documentation>Месяц и год смерти</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="ГодСмерт" type="xs:gYear">
															<xs:annotation>
																<xs:documentation>Год смерти</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:choice>
													<xs:element name="МестоСмерт" type="fnst:МестоТип">
														<xs:annotation>
															<xs:documentation>Место смерти</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="Пол" use="required">
													<xs:annotation>
														<xs:documentation>Пол</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="fnst:digits-1">
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ОКСМ" type="fnst:ОКСМТип" use="optional">
													<xs:annotation>
														<xs:documentation>Код страны гражданства</xs:documentation>
														<xs:documentation>Принимает значение цифрового кода в соответствии с Общероссийским классификатором стран мира ОК 025-2001 (ОКСМ)</xs:documentation>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">ОКСМ</xs:appinfo>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Код</xs:appinfo>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="НаимСтраны" type="fnst:string-255" use="optional">
													<xs:annotation>
														<xs:documentation>Полное наименование страны гражданства</xs:documentation>
														<xs:documentation>Принимает значение в соответствии с Общероссийским классификатором стран мира ОК 025-2001 (ОКСМ)</xs:documentation>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">ОКСМ</xs:appinfo>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Полное наименование</xs:appinfo>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="СведДокСмерт" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Сведения о документе, подтверждающем факт смерти</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:choice>
													<xs:element name="НаимОрг" type="fnst:string-255" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Наименование органа, выдавшего документ</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ФИОИП" type="fnst:ФИОПрТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Фамилия, имя, отчество индивидуального предпринимателя, осуществляющего медицинскую деятельность</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ФИОФЛ" type="fnst:ФИОПрТип" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Фамилия, имя, отчество физического лица, представившего заявление</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:choice>
												<xs:attribute name="КодДок" use="optional">
													<xs:annotation>
														<xs:documentation>Код вида документа, подтверждающего факт смерти</xs:documentation>
														<xs:documentation>Принимает значение в соответствии со Справочником видов документов, используемых при государственной регистрации актов гражданского состояния и при совершении иных юридически значимых действий (СДРАГС)</xs:documentation>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">СДРАГС</xs:appinfo>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Код</xs:appinfo>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="fnst:digits-5"/>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НаимДок" type="fnst:string-500" use="required">
													<xs:annotation>
														<xs:documentation>Наименование вида документа, подтверждающего факт смерти</xs:documentation>
														<xs:documentation>Принимает значение в соответствии со Справочником видов документов, используемых при государственной регистрации актов гражданского состояния и при совершении иных юридически значимых действий (СДРАГС)</xs:documentation>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">СДРАГС</xs:appinfo>
														<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Наименование</xs:appinfo>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="СерНомДок" type="fnst:string-25" use="optional">
													<xs:annotation>
														<xs:documentation>Серия и номер документа</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="ДатаДок" type="xs:date" use="optional">
													<xs:annotation>
														<xs:documentation>Дата документа</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="НомерЗапис" type="fnst:string-1_22" use="required">
							<xs:annotation>
								<xs:documentation>Номер записи акта о смерти</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ДатаЗапис" type="xs:date" use="required">
							<xs:annotation>
								<xs:documentation>Дата составления записи акта о смерти</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдЗапрос" type="fnst:ИдЗапросТип" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор запроса, сформированный запрашивающей стороной</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ТипЗапрос" use="required">
				<xs:annotation>
					<xs:documentation>Тип запрашиваемой формы ответа на запрос</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="fnst:digits-1">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ТипАГСЗапрос" use="required">
				<xs:annotation>
					<xs:documentation>Тип акта гражданского состояния, в отношении которого сформирован запрос</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="fnst:digits-1">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
						<xs:enumeration value="6"/>
						<xs:enumeration value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="НомерЗаписЗапрос" type="fnst:string-1_22" use="optional">
				<xs:annotation>
					<xs:documentation>Номер записи акта гражданского состояния, указанный в запросе </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ДатаСвед" type="xs:date" use="required">
				<xs:annotation>
					<xs:documentation>Дата, на которую сформированы сведения по поступившему запросу</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="РезОбраб" use="required">
				<xs:annotation>
					<xs:documentation>Результат обработки поступившего запроса</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="fnst:digits-1">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="КодСтатус" use="optional">
				<xs:annotation>
					<xs:documentation>Статус актовой записи, найденной по поступившему запросу о наличии актовой записи</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="fnst:digits-2">
						<xs:enumeration value="01"/>
						<xs:enumeration value="02"/>
						<xs:enumeration value="03"/>
						<xs:enumeration value="07"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
